.loader {
  border: 8px solid #545756;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

.apmui-page-logon div.page-logon-postheader {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 13px;
  color: red;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
